.container {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
  
  }
  
  .button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 0px;
    cursor: pointer;
    display: flex;
    align-items: center;
   
  }
  
  .icon {
    font-size: 20px;
    margin-right: 5px;
  }
  
  .user-container {
    margin-top: 20px;
    margin-bottom: 10vh;
  }
  
  .input-container {
    display: flex;
    margin-top: 20px;
  }
  
  input[type="text"] {
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-right: 10px;
    width: 100%;
  }
  
  .submit-button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .select-dropdown {
    margin-top: 20px;
    padding: 10px;
    border-radius: 4px;
    border: 2px solid #ccc;
  }
  
  .select-dropdown option {
    padding: 10px;
  }
  
  @media only screen and (max-width: 768px) {
    .button {
      margin-top: 20px;
      margin-right: 0px;
    }
  
    input[type="text"] {
      margin-right: 0px;
    }
  }